<div class="main-container">

  <div class="row">

    <%= render partial: 'iox/webpages/webbit', locals: { webbit_name: 'Main Copy' } %>

    <%= render partial: 'iox/webpages/webbit', locals: { webbit_name: 'Image Gallery' } %>

  </div>

</div>
