<div class="scrollable-content-footer">
  <a data-bind="attr: { href: '/iox/webpages/'+id }, click: removeItem" class="btn"><%= t('delete') %></a>
  <button type="submit" class="pull-right btn-primary btn"><%= t('save') %></button>
</div>

<input type="submit" class="hide" value="submit" />