/*
 *
 *= require iox/webfonts
 *
 *= require 3rdparty/bootstrap
 *= require 3rdparty/font-awesome
 *= require 3rdparty/jquery.blockui

 *= require select2

 *= require iox/iox_win
 *= require iox/iox_grid
 *= require iox/iox_tree
 *= require iox/iox_tabs

 *= require iox/flash

 *= require_self
 */

@import "common.css.scss";
@import "auth.css.scss";
@import "form.css.scss";
@import "panes.css.scss";

html,body{
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
}

h2, h3{
  font-weight: 100;
  font-size: 2em;
  line-height: 2.2em;
}


/* main container wrapper at full height
 */
.iox-mcw{

  /*@include gradient( #eee, #ddd );*/
  //background: $iox-brown;
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;

}

.iox-mcc{
  overflow: hidden;
  left: 70px;
  right: 0;
  top: 55px;
  bottom: 0;
  position: absolute;
}

.indicator-icon{
  margin-right: 5px;
}

.iox-loader{
  background-image: image-url('iox/loader.gif');
  width: 32px;
  height: 32px;
  display: inline-block;
}

.iox-loader-horizontal{
  background-image: image-url('iox/loader-horizontal.gif');
  width: 16px;
  height: 11px;
  display: inline-block;
}

.iox-content{
  height: 100%;
  position: relative;
}
.iox-content-padding{
  padding: 10px;
}

.iox-content.offset-sidebar{
  margin-left: 25%;
}
.iox-content-frame{
  position: absolute;
  top: 0;
  left: 10px;
  right: 20px;
  overflow:auto;
  bottom: 0;
  /*border: 1px solid #ccc;
  background-color: $iox-light-grey;
  */
}
.auto-overflow{
  overflow: auto;
}
.iox-content-arrow{
  border-color: transparent #bbb transparent transparent;
  border-style: solid;
  border-width: 11px;
  font-size: 0;
  left: -11px;
  line-height: 0;
  position: absolute;
  top: 45%;
  width: 0;
  z-index: 2;
}
.iox-details-container{
  position: relative;
  display: none;
  .iox-loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
.iox-details-placeholder{
  text-align: center;
  padding: 20%;
  font-size: 20px;
  color: #bbb;
  line-height: 30px;
}
.scrollable-content.w-padding{
  padding: 20px;
}
.scrollable-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  &.w-header{
    top: 50px;
  }
  &.w-footer{
    bottom: 50px;
  }
}
.scrollable-content-header{
  height: 50px;
}
.scrollable-content-footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 31px;
  border-top: 1px solid #ccc;
  padding: 5px;
  background-color: #fafafa;
}
.iox-grid-header{
  text-align: right;
}
.iox-inline-notice{
  margin: 20px 0;
  padding: 20px;
  background: #f5f5f5;
  border: 1px solid #eee;
}

.btn.btn-success{
  color: #fff;
  border-color: #5BB75B;
}

.btn.btn-success:hover{
  color: #fff;
}

.btn.btn-warning{
  border-color: #FAA732;
}

.btn.btn-danger{
  border-color: #DA4F49;
}

.desc{
  font-size: 12px;
  color: #999;
}

.iox-tabs .scrollable-content{
  top: 30px;
}

.publish-button.icon-ok-sign{
  color: #4E9C4E;
  cursor: pointer;
}


@import "top_nav.css.scss";
@import "app_nav.css.scss";
@import "sidebar.css.scss";
