.iox-flash-container{
  position: absolute;
  text-align: center;
  top: 15px;
  left: 180px;
}
.iox-flash-container .flash-item {
  background: none repeat scroll 0 0 #FFE866;
  border: 1px solid #C5BD47;
  color: #4C4C4C;
  font-size: 0.8em;
  font-weight: 600;
  padding: 3px 20px;
}
.auth-flash-container{
  height: 20px;
  left: 50%;
  margin-left: -180px;
  margin-top: -180px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 327px;
}
.auth-flash-container .flash-item{
  background: none repeat scroll 0 0 #FFE866;
  color: #4C4C4C;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 0.8em;
}
.auth-flash-container.error .flash-item{
  background-color: #fc6;
}
.iox-flash-container .flash-item.alert{
  background-color: #d55;
  color: #fff;
}
