/**
 * form.css.scss
 */

input.error,
textarea.error{
  outline: 1px solid #e33;
}


.iox-form .title{
  font-size: 2em;
  font-weight: 100;
  color: #999;
  margin: 0;
  padding: 10px;
}

.iox-form input[type=text],
.iox-form input[type=password],
.iox-form textarea{
  font-size: 1.1em;
  padding: 8px 0;
  text-indent: 5px;
  width: 400px;
  box-shadow: none;
}

.iox-form input[type=text].k-invalid,
.iox-form input[type=password].k-invalid,
.iox-form textarea.k-invalid{
  outline: 1px solid #e33;
}

.iox-form .fields-header{
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #aaa;
}

.iox-form .field-box{
  margin: 12px 0;
}

.iox-form .required label:after{
  color: #e32;
  content: ' *';
  display:inline;
}

.iox-form .field-box .desc{
  margin: 10px 0;
  max-width: 400px;
}

.iox-form .field-box label{
  color: #777777;
  display: block;
  float: left;
  font-size: 0.9em;
  font-weight: 600;
  margin: 10px 0 0;
  width: 120px;
}

.iox-form .field-box .label-offset{
  margin-left: 120px;
}

.iox-simple-select{
  display: inline-block;
  text-align: right;
  padding: 3px 5px;
  position: relative;
  min-width: 40px;
  font-weight: 600;
  cursor: pointer;
  &.toggled{
    border: 1px solid #ddd;
    background-color: #fafafa;
    border-bottom: none;
  }
  .icon-caret{
    margin: 2px 5px;
  }
  .iox-simple-select-list{
    display: none;
    position: absolute;
    top: 25px;
    border: 1px solid #ddd;
    border-top: none;
    right: 0;
    min-width: 50px;
    font-weight: 400;
    list-style: none;
    background: #fafafa;
    padding: 0;
    margin: 0;
    li{
      padding: 2px;
      border-bottom: 1px solid #eee;
      margin: 2px 0;
      &:last-child{
        border: none;
      }
    }
  }
}