/**
 * form.css.scss
 */

input.error,
textarea.error{
  outline: 1px solid #e33;
}


.iox-form .title{
  color: #999;
  font-size: 2em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  padding: 10px;
  margin-right: 350px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.iox-form input[type=text],
.iox-form input[type=password],
.iox-form textarea{
  font-size: 1.1em;
  padding: 8px 0;
  text-indent: 5px;
  width: 400px;
  box-shadow: none;
}

.iox-form textarea{
  padding-bottom: 0;
  min-height: 3em;
}

.iox-form input[type=text].k-invalid,
.iox-form input[type=password].k-invalid,
.iox-form textarea.k-invalid{
  outline: 1px solid #e33;
}

.iox-form .fields-header{
  border-bottom: 1px solid #ddd;
  margin: 40px 0 0;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #aaa;
}

.iox-form .field-box{
  margin: 12px 0;
}

.iox-form .required label:after{
  color: #e32;
  content: ' *';
  display:inline;
}

.iox-form .field-box .desc{
  margin: 10px 0;
  max-width: 400px;
}

.iox-form .field-box label{
  color: #777777;
  display: block;
  float: left;
  font-size: 0.9em;
  font-weight: 600;
  width: 140px;
}

.iox-form .field-box.w-input label{
  margin: 10px 0 0;
}

.iox-form .field-box .label-offset{
  margin-left: 140px;
}

.iox-simple-select{
  display: inline-block;
  text-align: right;
  padding: 3px 10px;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;
  &.toggled,&:hover{
    border-color: #ddd;
    background-color: #fafafa;
  }
  &.toggled{
    border-bottom: none;
  }
  .icon-caret{
    margin: 2px 5px;
  }
  .iox-simple-select-list{
    display: none;
    position: absolute;
    top: 25px;
    border: 1px solid #ddd;
    border-top: none;
    right: 0;
    min-width: 50px;
    font-weight: 400;
    list-style: none;
    background: #fafafa;
    padding: 0;
    margin: 0;
    li{
      padding: 2px 5px;
      border-bottom: 1px solid #eee;
      margin: 2px 0;
      cursor: pointer;
      &:last-child{
        border: none;
        margin-bottom: 0;
      }
      &:hover{
        background: #333;
        color: #fff;
      }
    }
  }
}
.iox-form{
  fieldset{
    border: none;
    border-top: 1px solid #ccc;
    legend{
      font-size: 1.5em;
      font-weight: 100;
      padding: 2px 10px;
    }
  }
}
.iox-form input[type="text"].k-input{
  padding: 2px 0;
  width: auto;
}

.iox-form-control{
  float: right;
}

.iox-form-control .btn{
  font-size: 14px;
  line-height: 14px;
  padding: 5px 10px;
  border-radius: 1px;
  margin-left: 3px;
  float: right;
  background: none;
  border: none;
}
.iox-form-control .btn:hover{
  box-shadow: none;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.iox-form-control .btn-primary{
  background: $iox-green;
  font-size: 12px;
}
.iox-form-control .btn-primary:hover{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}