
.iox-tree{
  list-style: none;
  padding: 0;
  margin: 0;
  ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 10px;
  }
  .ui-sortable-placeholder {
    visibility: visible !important;
    outline: 1px dashed #4183C4;
  }
  li{
    a{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #333;
      text-decoration: none;
      max-width: 200px;
      &.title{
        float: left;
        font-weight: 100;
        padding: 2px 0 0;
        line-height: 1.2em;
      }
    }
    .newline{
      margin-top: 2px;
    }
    .date{
      font-size: 0.8em;
      color: #999;
    }
    .icon-home{
      float: left;
      margin: 2px 5px 0 0;
      font-size: 1.2em;
      color: #999;
    }
    .folder-spacer{
      padding: 1px 4px;
      margin: 1px 3px 0 0;
      border: 1px solid transparent;
      cursor: pointer;
      border-radius: 2px;
      float: left;
      line-height: 1em;
      &:hover.open-folder{
        background-color: #333;
        border-color: transparent;
        color: #fff;
      }
    }
    .actions{
      float: right;
      margin-right: 2px;
      .action-icon{
        padding: 1px 4px 1px 4px;
        border-radius: 2px;
        &.default-hide{
          opacity: 0;
        }
        &:hover{
          background-color: #333;
          color: white;
        }
        &.publish-action{
          opacity: 0.5;
          cursor: pointer;
          line-height: 22px;
        }
        .icon-ok-sign{
          color: #81AD53;
        }
      }
    }
    .item{
      padding: 7px 5px;
      border-left: 5px solid transparent;
      border-radius: 2px;
      &:hover{
        background-color: #FaF7d5;
        .actions .action-icon{
          opacity: 1;
        }
      }
      &.selected{
        background-color: #eee;
        border-left-color: #d55;
      }
    }
  }
}
.iox-tree-control{
  margin: 2px;
}
.iox-tree-control form{
  margin: 10px 0 10px 10px;
  position: relative;
}
.iox-tree-control input[type=submit]{
  background: image-url('3rdparty/lens.png') no-repeat scroll center center transparent;
  height: 27px;
  width: 27px;
  margin: 0;
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 2;
  display: none;
  text-indent: 200%;
  overflow: hidden;
  border: none;
}
.iox-tree-control input[type=text]{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: -3px;
  background: #333;
  border-radius: 1px;
  font-size: 13px;
  line-height: 28px;
  padding: 8px 0;
  text-indent: 5px;
  color: #fff;
  font-weight: 100;
  line-height: 20px;
  display: none;
}
.iox-tree-control a{
  color: #555;
  padding: 3px 5px;
}
.iox-tree-control a.btn-success{
  float: right;
  margin-top: -1px;
  line-height: 14px;
  padding: 2px 4px;
  border: none;
}
.iox-tree-control a:hover{
  color: #333;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.iox-tree-control .search-active input{
  display:block;
}
.iox-tree-control .btn{
  padding: 3px 10px;
}
.iox-no-entries-found{
  margin: 20px 0;
  border: 1px solid #ccc;
  background: #FaF7d5;
  padding: 5px 10px;
}

.iox-tree .color-ball{
  float: left;
  margin: 3px 7px 0 0;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}