/**
 * sidebar
 */

 @import "common.css.scss";

.iox-sidebar{
  width: 25%;
  height: 100%;
  position: relative;
  float: left;
}
.iox-sidebar-frame{
  position: absolute;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 10px;
  //border: 1px solid #ccc;
  //padding: 10px;
  //background-color: $iox-light-grey;
}

h3.iox-sidebar-title{
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding: 0 0 0 10px;
  color: #777;
}
.iox-sidebar-frame.half-top{
  bottom: 50%;
}

.iox-sidebar-frame.half-bottom{
  top: 50%;
}

.iox-sidebar-arrow{
  border-color: transparent #aaa transparent transparent;
  border-style: inset;
  border-width: 11px;
  font-size: 0;
  left: -12px;
  line-height: 0;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 2;
}
.iox-content-frame .iox-sidebar-arrow{
  left: -22px;
}
.iox-content.offset-sidebar .iox-content-frame{
  left: 60px;
}
.iox-content-arrow:after, .iox-sidebar-arrow:after{
  border-color: rgba(0, 0, 0, 0) $iox-light-grey rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 10px;
  content: ".";
  display: block;
  height: 0;
  left: -8px;
  position: absolute;
  top: -11px;
  width: 0;
  z-index: 3;
}
.iox-content-arrow.offset-arrow{
  left: -22px;
}
.iox-content-arrow.offset-arrow:after{
border-width: 11px;
left: -11px;
top: -11px;
}