/**
 * user.css.scss
 */

#iox-users-list{
  overflow: auto;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 10px;
  .icon{
    color: #999;
    margin: 2px;
  }
  .icon-user{
    float: left;
    margin-right: 5px;
  }
  .item{
    cursor: pointer;
  }
}
.user-avatar{
  float: left;
  border: 1px solid #ddd;
  position: relative;
  margin: 20px;
  img{
    max-height: 100px;
    max-width: 100px;
    background-color: #eee;
  }
  &:hover{
    .user-upload-avatar-txt{
      display: block;
    }
  }
  .user-upload-avatar-txt{
    display: none;
    background-color: rgba(200, 50, 50, 0.7);
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    font-size: 0.8em;
  }
  .user-upload-avatar{
    cursor: pointer;
    font-size: 50px;
    height: 100px;
    left: 0;
    line-height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 999;
  }
}
.user-details{
  margin-left: 120px;
  .scrollable-content{
    left: 140px;
  }
}

.user-details .user-qr{
  float: right;
  margin: 0 20px;
  cursor: pointer;
  text-align: right;
}
.user-details .user-qr img{
  width: 100px;
  height: 100px;
}

.user-details .user-qr.hovered{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 40px;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  z-index: 100;
}

.user-details .user-qr.hovered img{
  width: 500px;
  height: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.user-details .user-qr.hovered .control{
  display: block;
  left: 0;
  margin-top: 240px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}

.user-details .user-qr .control{
  display:none;
}

.user-details .title{
  background: inherit;
}

.registration_incomplete{
  opacity: 0.5;
}

.user-details .select-roles{
  width: 400px;
}


/**
 * show a user
 */
.user-profile{
  margin: 40px;
}

.user-profile .user-avatar{
  margin: 0 20px;
}

.user-profile .user-content{
  margin-left: 150px;
}

.user-profile .field-box{
  margin: 20px 0;
  h4{ margin:0; color: #999; font-weight: 500; }
  h3{ font-size: 3em; font-weight: 100; color: #333; }
}

.send-welcome-msg{
  float: right;
  margin: 7px 20px;
  input{
    margin-right: 5px;
  }
}