/**
 * user.css.scss
 */

#iox-users-list{
  overflow: auto;
  position: absolute;
  top: 50px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  .icon{
    color: #999;
    margin: 2px;
  }
  .icon-user{
    float: left;
    margin-right: 5px;
  }
  .item{
    cursor: pointer;
  }
}
.user-avatar{
  float: left;
  border: 1px solid #ddd;
  position: relative;
  img{
    max-height: 100px;
    max-width: 100px;
    background-color: #eee;
  }
  &:hover{
    .user-upload-avatar-txt{
      display: block;
    }
  }
  .user-upload-avatar-txt{
    display: none;
    background-color: rgba(200, 50, 50, 0.7);
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    font-size: 0.8em;
  }
  .user-upload-avatar{
    cursor: pointer;
    font-size: 50px;
    height: 100px;
    left: 0;
    line-height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 999;
  }
}
.user-details{
  margin-left: 120px;
  .scrollable-content{
    left: 140px;
  }
}

.registration_incomplete{
  opacity: 0.5;
}

.user-details .select-roles{
  width: 400px;
}


/**
 * show a user
 */
.user-profile{
  margin: 40px;
}

.user-profile .user-avatar{
  margin: 0 20px;
}

.user-profile .user-content{
  margin-left: 150px;
}

.user-profile .field-box{
  margin: 20px 0;
  h4{ margin:0; color: #999; font-weight: 500; }
  h3{ font-size: 3em; font-weight: 100; color: #333; }
}

.send-welcome-msg{
  float: right;
  margin: 7px 20px;
  input{
    margin-right: 5px;
  }
}