<div class="not-found-error">

  <%= image_tag Rails.configuration.iox.brand_logo, class: 'iox-logo' %>

  <div class="error-text-container">
    <h2><%= t('webpage.errors.oups_not_found') %></h2>
    <p><%= link_to( t('back_to_startpage'), '/' ) %></p>
  </div>

</div>
