<section class="hero">

  <div class="text">
    Wir bauen Team- und<br> Web Apps
  </div>

  <div class="main-slider-container">
    <ul class="main-slider">
      <li class="slider-item">
        <div class="iobot"></div>
        <h3>Solide und kreative Webseiten</h3>
        <p>mit konservativen- oder bleeding-edge Web-Technologien</p>
      </li>
      <li class="slider-item">Two</li>
      <li class="slider-item">Three</li>
      <li class="slider-item">Four</li>
    </ul>
  </div>

</section>
<div id="nav" class="centered">
  
  <h1><%= link_to( "TASTENWERK e.U.", "/") %></h1>
  <ul class="links">
  <li>
    <a href="#home">Home</a>
  </li>
  <li>
    <a href="#services">Services</a>
  </li>
  <li>
    <a href="#portfolio">Portfolio</a>
  </li>
  <li>
    <a href="#about">About</a>
  </li>
  </ul>

</div>
