.ion-top-nav{
  background: #F0F0F0;
  height: 55px;
  .right-menu{
    float: right;
    margin: 10px;
  }
  ul{
    list-style: none;
    margin: 0 20px;
    padding: 0;
  }
  li{
    float: right;
    min-width: 30px;
    min-height: 30px;
    margin-left : 10px;
  }
  a.username{
    color: #555;
    &:hover{ text-decoration: none; color: #111; }
  }
  .user-menu .dropdown-menu{
    right: 0;
    left: auto;
    margin: 0;
    min-width: 400px;
    padding: 0;
    .avatar{
      width: 108px;
      height: 108px;
      float: left;
      margin: 10px;
      background: #eee;
    }
    .next-to-avatar{
      margin: 10px 20px 0 120px;
      font-size: 0.9em;
      a.user-email{
        color: #333;
      }
      .btn{
        margin-top: 5px;
        padding: 3px 5px;
        font-size: 0.9em;
      }
    }
    li{ float: left; }
    .usage{
      margin: 10px;
      height: 20px;
      .progress{
        height: 5px;
      }
      .blockUI .ion-loader{
        width: 16px;
        height: 16px;
        background-size: cover;
        float: left;
        margin: 1px 7px 0 0 ;
      }
      .blockUI span{
        color: #777;
      }
    }
    .footer{
      background: #eee;
      padding: 5px;
    }
  }
  .user-menu-trigger{
    padding: 5px 10px;
    text-decoration: none;
    .caret{
      margin: 15px 0 0;
      border-top-color: #777;
    }
  }
  .logo{
    height: 32px;
    float: left;
    margin: 8px 10px 0;
  }
  .activities-dropdown{
    right: 0;
    left: auto;
    margin: 0;
    min-width: 400px;
    padding: 0;
  }
  .activities-list{
    min-width: 400px;
    .footer{
      padding: 5px 10px;
      border-top: 1px solid #eee;
      margin-top: 5px;
    }
    .body{
      padding: 10px;
      .title{
        font-size: 1em;
        color: #999;
      }
    }
  }
  .activities-dropdown .trigger{
    font-size: 18px;
    padding: 8px;
    float: right;
    margin-right: 20px;
    color: #999;
    position: relative;
    text-decoration: none;
    &:hover{
      color: #333;
    }
  }
  .activities-dropdown .count{
    background: none repeat scroll 0 0 #d55;
    border-radius: 30px 30px 30px 30px;
    color: #FFF;
    font-size: 11px;
    left: 20px;
    line-height: 16px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    top: 1px;
    z-index: 9999;
  }
}